POLIEDRO_URL=https://poliedrodist.comcel.com.co/POL_LOGIN/login.aspx
POLIEDRO_USERNAME=
POLIEDRO_PASSWORD=

TNS_OFFICE=
TNS_USERNAME=
TNS_PASSWORD=
TNS_APP_PATH=

PRINTER=
HEADLESS=false
PRINT_FLYERS=true
PRINT_SCALE=80
CAPTURAS_DIR=D:\Usuarios\ACTIVACIONES\Desktop\CAPTURA DE VOLANTES
VOLANTES_FECHA_INICIAL=
VOLANTES_FECHA_FINAL=
DEFAULT_TIMEOUT=10
FORM_READY_DELAY_SECONDS=4
